@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #222222;
  font-weight: 500;
}

p,
.paragraph {
  font-weight: 400;
  color: #888888 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Noticia Text", serif;
  font-weight: 700;
}

h1,
.h1 {
  font-size: 64px;
  line-height: 74px;
}

@media (max-width: 575.98px) {
  h1,
  .h1 {
    font-size: 28px;
    line-height: 40px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  h1,
  .h1 {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (min-width: 769px) and (max-width: 991.98px) {
  h1, .h1 {
    font-size: 50px;
    line-height: 60px;
  }
}

h2,
.h2 {
  font-size: 48px;
  line-height: 63px;
}

@media (max-width: 575.98px) {
  h2, .h2 {
    font-size: 26px;
    line-height: 36px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  h2, .h2 {
    font-size: 28px;
    line-height: 45px;
  }
}

@media (min-width: 769px) and (max-width: 991.98px) {
  h2, .h2 {
    font-size: 30px;
    line-height: 48px;
  }
}

h3,
.h3 {
  font-size: 36px;
  line-height: 36px;
}

@media (max-width: 575.98px) {
  h3, .h3 {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  h3, .h3 {
    font-size: 26px;
    line-height: 32px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  h3, .h3 {
    font-size: 28px;
    line-height: 34px;
  }
}

h4,
.h4 {
  font-size: 24px;
  line-height: 24px;
}

@media (max-width: 575.98px) {
  h4,
  .h4 {
    font-size: 18px;
    line-height: 20px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  h4,
  .h4 {
    font-size: 20px;
    line-height: 18px;
  }
}

@media (min-width: 769px) and (max-width: 991.98px) {
  h4,
  .h4 {
    font-size: 22px;
    line-height: 22px;
  }
}

h5,
.h5 {
  font-size: 20px;
  line-height: 20px;
}

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: #FCE2DC;
  color: #fff;
}

::selection {
  background-color: #FCE2DC;
  color: #fff;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.text-primary {
  color: #FF5733 !important;
}

.text-secondery {
  color: #555555 !important;
}

.title-shape {
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
}

@media (max-width: 575.98px) {
  .title-shape {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .title-shape {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media (min-width: 769px) and (max-width: 991.98px) {
  .title-shape {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}

.fixd-manu .navbar-nav .nav-item .nav-link {
  margin: 10px 0 !important;
}

.navigation {
  position: fixed;
  width: 100%;
  background-color: #fff;
  color: black;
  z-index: 9999;
}

.navigation .navbar-brand {
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.navigation .navbar-brand i {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: #FF5733;
  border: 1px solid #FF5733;
  background-color: transparent;
  text-align: center;
  line-height: 50px;
  margin-right: 10px;
  font-size: 20px;
}

.navigation .navbar-toggler {
  padding: 10px 15px;
  font-size: 24px;
  line-height: 1;
  background-color: #F9F9F9;
  border: 0;
  border-radius: 0;
  -webkit-transition: none;
  transition: none;
}

.navigation .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navigation .navbar-nav .nav-item .nav-link {
  margin-top: 35px;
  margin-bottom: 30px;
  color: #222222;
  padding-left: 58px;
  padding-right: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  -webkit-transition: .4s;
  transition: .4s;
}

@media (max-width: 575.98px) {
  .navigation .navbar-nav .nav-item .nav-link {
    color: #222222;
    padding-left: 0px;
    line-height: 0px;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: -20px;
    margin: 10px 0 !important;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .navigation .navbar-nav .nav-item .nav-link {
    color: #222222;
    padding-left: 0px;
    line-height: 0px;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: -20px;
    margin: 10px 0 !important;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 991.98px) {
  .navigation .navbar-nav .nav-item .nav-link {
    color: #222222;
    padding-left: 0px;
    line-height: 0px;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: -20px;
    margin: 20px 0 !important;
    text-align: center;
  }
  .navbar-toggler i {
    font-size: 28px;
  }
}

.hero-area {
  padding-top: 200px;
}

.hero-area {
  margin-bottom: 100px;
}

.btn {
  padding: 18px 40px;
  border-radius: 50px;
  background-color: #FF5733;
  border: 1px solid #FF5733;
  color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn:hover {
  background-color: #fff;
  color: #222222;
  border: 1px solid #FF5733;
}

.hero-main {
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
}

.hero-img {
  background-color: #FCE2DC;
  padding: 5px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  display: inline-block;
}

.hero-img img {
  width: 100%;
}

.radius {
  position: absolute;
}

.radius-1 {
  left: calc(50% - 60px);
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.radius-2 {
  left: calc(50% - 60px);
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -2;
}

.radius-3 {
  left: calc(50% - 91px);
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -3;
}

.radius-4 {
  right: calc(50% - 90px);
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.radius-5 {
  right: calc(50% - 130px);
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -2;
}

.radius-6 {
  right: calc(50% - 130px);
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -3;
}

.has-circle {
  position: relative;
  top: -250px;
}

.has-circle .circle {
  position: absolute;
}

.has-circle .circle-1 {
  left: 0px;
  top: 60%;
}

.has-circle .circle-2 {
  width: 75px;
  height: 75px;
  border: 1px solid #FF5733;
  border-radius: 50%;
  top: -260px;
  left: 10%;
}

.has-circle .circle-3 {
  width: 38px;
  height: 38px;
  border: 1px solid #FF5733;
  border-radius: 50%;
  left: 22%;
  top: 120px;
}

.has-circle .circle-4 {
  width: 30px;
  height: 30px;
  border: 1px solid #FF5733;
  border-radius: 50%;
  right: 15%;
  top: -260px;
}

.has-circle .circle-5 {
  width: 135px;
  height: 135px;
  border: 1px solid #FF5733;
  border-radius: 50%;
  right: 20%;
  top: 120px;
}

.has-circle .circle-6 {
  right: 0;
  top: -300px;
}

.has-circle .circle-7 {
  right: 0;
  bottom: -400px;
}

@media (max-width: 575.98px) {
  .hero-area {
    padding-top: 130px;
  }
  .has-circle {
    display: none;
  }
  .btn {
    padding: 13px 30px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .hero-area {
    padding-top: 160px;
  }
  .hero-area p {
    margin: 0 0 30px 0;
  }
  .has-circle .circle-1 svg {
    width: 100px;
    height: 300px;
  }
  .has-circle .circle-5 {
    right: 5%;
  }
  .has-circle .circle-6 svg {
    width: 90px;
    height: 180px;
    top: -250px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .hero-area h1 {
    margin: 0 -50px;
  }
}

.social-logo {
  margin-bottom: 120px;
}

@media (max-width: 575.98px) {
  .social-logo {
    margin-bottom: 30px;
  }
}

.global-network {
  position: relative;
  margin-bottom: 160px;
}

.global-network::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  background-color: #F9F9F9;
  width: 65%;
  height: 365px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.global-network h2 {
  padding-top: 88px;
  padding-bottom: 88px;
}

.global-network p {
  padding-top: 88px;
  padding-bottom: 88px;
}

@media (max-width: 575.98px) {
  .global-network {
    margin-bottom: 50px;
    text-align: center;
  }
  .global-network::after {
    display: none;
  }
  .global-network h2 {
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .global-network p {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .global-network {
    margin-bottom: 50px;
    text-align: center;
  }
  .global-network::after {
    display: none;
  }
  .global-network h2 {
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .global-network p {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (min-width: 769px) and (max-width: 991.98px) {
  .global-network {
    margin-bottom: 50px;
  }
  .global-network::after {
    height: 250px;
  }
  .global-network h2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .global-network p {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 24px;
  }
}

.providing-services {
  margin-bottom: 240px;
  position: relative;
}

.providing-services::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -80px;
  width: 90%;
  height: 260px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  background: #F9F9F9;
}

.providing-services .card {
  padding-top: 53px;
  padding-bottom: 55px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.providing-services .card .card-body .card-title {
  margin-bottom: 20px;
}

.providing-services .card .card-body .card-text {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 26px;
}

.providing-services .card .card-body .card-link {
  font-size: 16px;
  line-height: 15px;
}

.providing-services .card .card-body .card-link i {
  margin-left: 5px;
}

@media (max-width: 575.98px) {
  .providing-services {
    margin-bottom: 70px;
  }
  .providing-services::after {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .providing-services {
    margin-bottom: 70px;
  }
  .providing-services::after {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 991.98px) {
  .providing-services {
    margin-bottom: 70px;
  }
  .providing-services::after {
    display: none;
  }
}

.huge-experience {
  margin-bottom: 160px;
}

.huge-experience .experience-title-shape {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.huge-experience h2 {
  font-size: 46px;
}

.huge-experience .box {
  padding: 25px 23px;
  background-color: #F9F9F9;
  margin-right: 30px;
}

.huge-experience .box .h2 {
  font-size: 44px;
}

.huge-experience .box:last-child {
  margin-right: 0;
}

.huge-experience .box p {
  font-size: 16px;
  line-height: 26px;
}

.huge-experience .block {
  margin-bottom: 36px;
}

.huge-experience .block span {
  color: #777777;
  font-size: 16px;
}

@media (max-width: 575.98px) {
  .huge-experience {
    text-align: center;
  }
  .huge-experience .experience-title-shape {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .huge-experience h2 {
    font-size: 28px;
  }
  .huge-experience .block span {
    font-size: 14px;
  }
  .huge-experience .box {
    padding: 10px 10px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
  .huge-experience .box .h2 {
    font-size: 26px;
  }
  .huge-experience .box p {
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .huge-experience {
    text-align: center;
  }
  .huge-experience h2 {
    font-size: 30px;
  }
  .huge-experience .box {
    margin-bottom: 30px;
  }
  .huge-experience .box .h2 {
    font-size: 30px;
  }
  .huge-experience .experience-title-shape {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media (min-width: 769px) and (max-width: 991.98px) {
  .huge-experience {
    text-align: center;
  }
  .huge-experience h2 {
    font-size: 36px;
  }
  .huge-experience .box {
    margin-bottom: 30px;
  }
  .huge-experience .box .h2 {
    font-size: 32px;
  }
  .huge-experience .experience-title-shape {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .huge-experience h2 {
    font-size: 38px;
  }
  .huge-experience h2 .box {
    padding: 25px 20px;
    margin-right: 10px;
  }
  .huge-experience h2 .box .h2 {
    font-size: 36px;
  }
  .huge-experience h2 .box p {
    font-size: 14px;
  }
}

.tstimonial {
  margin-bottom: 160px;
}

.tstimonial .tstimonial-left-slider .img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.tstimonial .tstimonial-left-slider p {
  font-size: 24px;
  line-height: 36px;
}

.tstimonial .tstimonial-left-slider .left-arrow {
  position: absolute;
  bottom: -70px;
  left: 13%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FF5733;
  z-index: -1;
  text-align: center;
  line-height: 50px;
}

.tstimonial .tstimonial-left-slider .right-arrow {
  position: absolute;
  bottom: -70px;
  left: 24%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FF5733;
  z-index: -1;
  text-align: center;
  line-height: 50px;
}
/*# sourceMappingURL=style.css.map */