
* {
    margin: 0;
    padding: 0;
}
::selection{
    background-color:$primary-color ;
    color: $white;
}
ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}
a{
    transition: .4s;
    &:hover{
        color: $primary-color !important;
    }
}
.text-primary{
    color: $primary-color !important;
}
.text-secondery{
    color: $tertiary-text-color !important;
}
.text-tertiary{
    color: $text-color !important;
}
.bg-primary{
    background-color: $primary-bg !important;
}
.title-shape{
    transform: translateX(60%);
}
@include mobile{

    .title-shape {
        transform: translateX(0%);
    }
}
@include tablet{

    .title-shape {
        transform: translateX(0%);
    }
}
@include desktop{

    .title-shape {
        transform: translateX(20%);
    } 
}
.radius-8{
border-radius: 8px !important;
}
.shadow{
    box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.06) !important;
}