
* {
    margin: 0;
    padding: 0;
}
::selection{
    background-color:$primary-color ;
    color: $white;
}
ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}
a{
    transition: .4s;
    &:hover{
        color: $primary-color !important;
    }
}
.text-primary{
    color: $primary-color !important;
}
.text-secondery{
    color: $tertiary-text-color !important;
}
.text-tertiary{
    color: $text-color !important;
}
.bg-primary{
    background-color: $primary-bg !important;
}
.title-shape{
    transform: translateX(60%);
}
.radius{
    border-radius: 8px !important;
}
.backtotop {
    width: 50px;
    height: 50px;
    background: $primary-color;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border: 0;
}
@include mobile{

    .title-shape {
        transform: translateX(0%);
    }
}
@include tablet{

    .title-shape {
        transform: translateX(0%);
    }
}
@include desktop{

    .title-shape {
        transform: translateX(20%);
    } 
}
.radius{
border-radius: 8px !important;
}
.shadow{
    box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.06) !important;
}
.section-sm{
    margin-top: 205px;
    margin-bottom: 100px;
}
@include mobile{
    .section-sm {
        margin-top: 140px;
        margin-bottom: 70px;
    }
}
@include tablet{
    .section-sm {
        margin-top: 160px;
        margin-bottom: 80px;
    }
}
@include desktop{
    .section-sm {
        margin-top: 170px;
        margin-bottom: 90px;
    }
}
.section-md{
    margin-bottom: 120px;
}
@include mobile{
    .section-md{
        margin-bottom: 60px;
    }   
}
@include tablet{
    .section-md {
        margin-bottom: 80px;
    } 
}
@include desktop{
    .section-md {
        margin-bottom: 100px;
    } 
}
.section{
    margin-bottom: 160px;   
}
@include mobile{
    .section{
        margin-bottom: 80px;   
    }   
}
@include tablet{
    .section{
        margin-bottom: 100px;   
    }   
}
@include desktop{
    .section{
        margin-bottom: 120px;   
    }   
}