
* {
    margin: 0;
    padding: 0;
}
::selection{
    background-color:$secondery-color ;
    color: $white;
}
ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}
.text-primary{
    color: $primary-color !important;
}
.text-secondery{
    color: $tertiary-text-color !important;
}
.title-shape{
    transform: translateX(60%);
}
@include mobile{

    .title-shape {
        transform: translateX(0%);
    }
}
@include tablet{

    .title-shape {
        transform: translateX(0%);
    }
}
@include desktop{

    .title-shape {
        transform: translateX(20%);
    } 
}