$primary-bg:#F9F9F9;
$secondery-bg:#EFEFEF;
$primary-color:#FF5733;
$secondery-color:#FCE2DC;
$text-color:#222222;
$secondery-text-color:#888888;
$tertiary-text-color:#555555;
$quaternary-text-color:#777777;
$white:#fff;












$primary-font:'Roboto', sans-serif;
$secondery-font: 'Noticia Text', serif;;