.contact{
    padding-top: 205px;
    padding-bottom: 95px;
    // margin-bottom: 300px;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: $primary-bg;
        width: 57%;
        height: 100%;
        z-index: -1;
    }
    .contact-from{
        width: 46%;
        margin-bottom: 40px;
        &:last-child{
            width: 100%;
            margin-bottom: 60px;
        }
        input{
            background-color: $primary-bg;
            font-size: 14px;
            &:focus-visible{
              outline: none;

            }
        }
        .patricklucas{
            font-size: 16px;
            line-height: 16px;
        }
        h6{
            font-size: 16px;
            line-height: 16px;
            font-weight: 500px;
        }
    }
}