.contact{
    padding-top: 205px;
    padding-bottom: 95px;
    // margin-bottom: 300px;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: $primary-bg;
        width: 57%;
        height: 100%;
        z-index: -1;
    }
    .contact-from{
        width: 46%;
        margin-bottom: 40px;
        &:last-child{
            width: 100%;
            margin-bottom: 60px;
        }
        input{
            background-color: transparent;
            font-size: 14px;
            width: 100%;
            &:focus-visible{
              outline: none;

            }
        }
        .patricklucas{
            font-size: 16px;
            line-height: 16px;
        }
        h6{
            font-size: 16px;
            line-height: 16px;
            font-weight: 500px;
        }
    }
    .social-links{
             .social-item{
                 a{
                     i{

                         font-size: 20px !important;
                     }
                 }
             }
    }
}

@include mobile{
    .contact{
        padding-top: 125px;
        padding-bottom: 45px;
        // text-align: center;
        h6{
            text-align: left !important;
        }
        &::after{
            width: 100%;
        }
        .contact-information{
            text-align: center;
        }
        .contact-paragraph{
            text-align: center;
        }
        .social-contacts{
            text-align: center;
        }
        .social-links{
            text-align: center;
        }
      form
        {
            button{
                width: 100%;
                // text-align: center;
                // transform: translate(50%);
            }
        }
        // .btn{
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        // }

    }
}
@include tablet{
    .contact{
        padding-top: 160px;
        padding-bottom: 55px;
        &::after {
            width: 50%;
        } 
    }
        

}
@include desktop{
    .contact {
        padding-top: 175px;
        padding-bottom: 75px;
        &::after {
            width: 50%;
        }
    }
}