.preloder {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;

    .dots {
        position: relative;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .dot {
        width: 20px;
        height: 20px;
        background-color: #fff;
    }

    .dot1 .dot:nth-child(1) {
        animation-delay: 0s;
    }

    .dot1 .dot:nth-child(2) {
        animation-delay: 0.4s;
    }

    .dot1 .dot:nth-child(3) {
        animation-delay: 0.8s;
    }

    .dot1 .dot {
        border-radius: 50%;
        animation: topDown2 1.2s linear forwards infinite;
    }

    @keyframes topDown2 {

        0%,
        100% {
            transform: translateY(0px);
        }

        25% {
            transform: translateY(20px);
            background-color: orange;
        }

        75% {
            transform: translateY(-20px);
            background-color: red;
        }
    }
}



.btn {
    padding: 18px 40px;
    border-radius: 50px;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: $white;
    transition: .4s;


    &:hover {
        background-color: $white;
        color: $text-color;
        border: 1px solid $primary-color;
        box-shadow: 0 .25rem .25rem .125rem rgba(253, 86, 49, .1), 0 .375rem .75rem -0.125rem rgba(253, 86, 49, .4);
    }
}

.hero-main {
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
}

.hero-img {
    background-color: #FCE2DC;
    padding: 5px;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    display: inline-block;

    img {
        width: 100%;
    }
}

.radius {
    position: absolute;
}

.radius-1 {
    left: calc(50% - 60px);
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.radius-2 {
    left: calc(50% - 60px);
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

.radius-3 {
    left: calc(50% - 91px);
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -3;
}

.radius-4 {
    right: calc(50% - 90px);
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.radius-5 {
    right: calc(50% - 130px);
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

.radius-6 {
    right: calc(50% - 130px);
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -3;
}

.has-circle {
    position: relative;
    top: -250px;

    .circle {
        position: absolute;
    }

    .circle-1 {
        left: 0px;
        top: 60%;
    }

    .circle-2 {
        width: 75px;
        height: 75px;
        border: 1px solid $primary-color;
        border-radius: 50%;
        top: -260px;
        left: 10%;
    }

    .circle-3 {
        width: 38px;
        height: 38px;
        border: 1px solid $primary-color;
        border-radius: 50%;
        left: 19%;
        top: 120px;
    }

    .circle-4 {
        width: 30px;
        height: 30px;
        border: 1px solid $primary-color;
        border-radius: 50%;
        right: 15%;
        top: -260px;
    }

    .circle-5 {
        width: 135px;
        height: 135px;
        border: 1px solid $primary-color;
        border-radius: 50%;
        right: 12%;
        top: 120px;

    }

    .circle-6 {
        right: 0;
        top: -300px;
    }

    .circle-7 {
        right: 0;
        bottom: -400px;
    }

}

@include mobile {
    .has-circle {
        display: none;
    }

    .btn {
        padding: 13px 30px;
    }
}

@include tablet {
    .hero-area {
        p {
            margin: 0 0 30px 0;
        }
    }

    .has-circle {
        display: none;
    }
}

@include desktop {
    .has-circle {
        .circle-1 {
            top: 180px;

            svg {
                width: 100px;
                height: 180px;
            }
        }

        .circle-3 {

            top: 50px;
        }

        .circle-5 {
            right: 10%;
            top: 179px;
        }

        .circle-6 {
            svg {
                width: 100px;
                height: 180px;
            }
        }
    }
}

@include desktop-lg {
    .hero-area {
        h1 {
            margin: 0 -50px;
        }
    }
}

// /////////////
.brand-logo {
    text-align: center;

    .brand-logo-img {
        margin-right: 10px;
        max-width: 15%;
        padding: 0 15px;

        &:last-child {
            margin-right: 0;
        }
    }



}

@include desktop {
    .brand-logo {
        text-align: center;

    }
}


// //////////
.has-bg {
    position: relative;
    padding: 88px 0;

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        background-color: $primary-bg;
        width: 60%;
        height: 100%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

}

@include mobile {
    .has-bg {
        text-align: center;
        padding: 0px 0;

        &::after {
            display: none;
        }

        h2 {
            padding-bottom: 30px;
        }
    }
}

@include tablet {
    .has-bg{
        text-align: center;
        padding: 0px 0;

        &::after {
            display: none;
        }

        h2 {
            padding-bottom: 30px;
        }
    }
}

@include desktop {
    .has-bg {
        padding: 20px 0;

        p {
            font-size: 14px;
            line-height: 24px;
        }
    }
}

// ////////////

.providing-services {
    position: relative;
    padding-bottom: 80px;

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0px;
        width: 90%;
        height: 260px;
        transform: translateX(-50%);
        z-index: -1;
        background: $primary-bg;

    }


    .card {
        padding-top: 53px;
        padding-bottom: 55px;
        transition: .6s;
        &:hover{
            transform: scale(.97);
        }
            .card-icon {
                font-size: 50px;
                color: #0062FF;
      
            }
            .card-icon-second{
                color: #FFE974
            }
            .card-icon-third{
                color: #FF6F6F;
            }
     
        .card-body {
            .card-title {
                margin-bottom: 20px;
            }

            .card-text {
                margin-bottom: 25px;
                font-size: 16px;
                line-height: 26px;
            }

            .card-link {
                font-size: 16px;
                line-height: 15px;

                i {
                    margin-left: 5px;
                }
            }
        }
    }
}

@include mobile {
    .providing-services {
        padding-bottom: 0px;

        &::after {
            display: none;
        }
    }
}

@include tablet {
    .providing-services {
        padding-bottom: 0px;

        &::after {
            display: none;
        }
    }
}

@include desktop {
    .providing-services {
        padding-bottom: 0px;

        &::after {
            display: none;
        }
    }
}

// //////////


.experience {


    .experience-title-shape {
        transform: translateX(50%);
    }

    h2 {
        font-size: 46px;
    }

    .box {
        padding: 25px 23px;
        background-color: $primary-bg;
        margin-right: 30px;

        .h2 {
            font-size: 44px;
        }

        &:last-child {
            margin-right: 0;
        }

        p {
            font-size: 15px;
            line-height: 26px;
        }
    }

    .block {
        margin-bottom: 55px;

        &:last-child {
            border-bottom: 0;
            margin-bottom: 0 !important;
        }

        span {
            color: $quaternary-text-color;
            font-size: 16px;
        }
    }
}

@include mobile {
    .experience {
        text-align: center;


        .experience-title-shape {
            transform: translateX(0%);
        }

        h2 {
            font-size: 28px;
        }

        .block span {
            font-size: 14px;
        }

        .box {
            padding: 10px 10px;
            margin-right: 15px;
            margin-bottom: 30px;

            .h2 {
                font-size: 26px;
            }

            p {
                font-size: 14px;
            }
        }

    }
}

@include tablet {
    .experience {
        text-align: center;

        h2 {
            font-size: 30px;
        }

        .box {

            margin-bottom: 30px;

            .h2 {
                font-size: 30px;
            }
        }


        .experience-title-shape {
            transform: translateX(0%);
        }
    }

}

@include desktop {
    .experience {
        text-align: center;

        h2 {
            font-size: 36px;
        }

        .box {
            margin-bottom: 30px;

            .h2 {
                font-size: 32px;
            }
        }

        .experience-title-shape {
            transform: translateX(0%);
        }
    }

}

@include desktop-lg {
    .experience h2 {
        font-size: 38px;

        .box {
            padding: 25px 20px;
            margin-right: 10px;

            .h2 {
                font-size: 36px;
            }

            p {
                font-size: 14px;
            }
        }
    }


}

.testimonial {
    position: relative;

    .bg-primary {
        padding-top: 32px;
        padding-bottom: 80px;
    }


    .testimonial-left-slider {
        .img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }

        p {
            font-size: 24px;
            line-height: 30px;
        }

        .prev-arrow {
            position: absolute;
            bottom: -70px;
            left: 11%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $secondery-bg;
            text-align: center;
            line-height: 50px;
            color: #AAAAAA;
            font-size: 20px;
            transform: .4s;

            &:hover {
                background-color: $primary-color;
                color: $text-color;
                cursor: pointer;
            }
        }

        .next-arrow {
            position: absolute;
            bottom: -70px;
            left: 22%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $secondery-bg;
            text-align: center;
            line-height: 50px;
            color: #AAAAAA;
            font-size: 20px;
            transform: .4s;

            &:hover {
                background-color: $primary-color;
                color: $text-color;
                cursor: pointer;
            }
        }
    }
}

@include mobile {
    .testimonial {

        text-align: center;

        .quotation {
            display: none;
        }

        .bg-primary {
            background-color: transparent !important;
        }



        .testimonial-left-slider p {
            font-size: 14px;
            line-height: 28px;
            margin-left: 0 !important;
        }
    }


}

@include tablet {
    .testimonial {
        text-align: center;

        .quotation {
            display: none;
        }

        .bg-primary {
            background-color: transparent !important;
        }


        .testimonial-left-slider p {
            font-size: 14px;
            line-height: 28px;
            margin-left: 0 !important;
        }
    }


}

@include desktop {
    .testimonial {
        .bg-primary {
            padding-top: 0px;
            padding-bottom: 50px;
        }

        .testimonial-left-slider {
            .quotation {
                width: 40px !important;
                height: 40px !important;
            }

            p {
                font-size: 14px;
                line-height: 22px;
            }

            .prev-arrow {
                bottom: -50px;
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 16px;
            }

            .next-arrow {
                left: 30%;
                bottom: -50px;
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 16px;
            }
        }
    }

}



// ////////////
.projects {
    .card {
        position: relative;

        .card-img-overlay {
            background-image: linear-gradient(rgba(196, 196, 196, 0), rgba(0, 0, 0, 0.8));
            width: 100%;
            height: 100%;
            padding: 35px !important;

            .card-body {
                position: absolute;
                bottom: 0;
                padding-bottom: 35px !important;

                h4 {
                    color: $white;
                }
            }
        }

        .meta {
            .meta-item {
                position: relative;

                &:not(:last-child) {
                    margin-right: 15px;
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }

                a {
                    font-size: 16px;
                    line-height: 18px;
                }

                &::after {
                    position: absolute;
                    content: "";
                    right: -10px;
                    top: 0;
                    width: 1.8px;
                    height: 15px;
                    background-color: #fff;
                    transform: rotate(20deg);
                }
            }

        }

    }
}

@include mobile {

    .projects {
        .card {
            .card-img-overlay {
                padding: 0px !important;
            }

            .card-body {
                padding-bottom: 10px !important;
            }
        }
    }
}

@include tablet {
    .projects {
        .card .breadcrumb .breadcrumb-item a {
            font-size: 15px;
            line-height: 15px;
        }
    }
}

@include desktop {
    .projects {
        .card .breadcrumb .breadcrumb-item a {
            font-size: 16px;
            line-height: 16px;
        }
    }
}

// ///////////
footer {
    .footer-hadding {
        margin-bottom: 50px;
        font-weight: 700;
    }

    .mobile-number {
        color: $secondery-text-color;

        &:hover {
            color: $primary-color !important;
        }

    }

    .footer-bottom {
        a {
            color: $secondery-text-color !important;
            transition: .4s;
        }
    }
}

.footer-links {
    margin-bottom: 85px;

    .list-inline-item {
        &:not(:last-child) {
            margin-right: 30px;
        }

        a {
            color: $text-color !important;
            transition: .4s;
        }
    }
}

@include mobile {
    footer {
        .footer-hadding {
            margin-bottom: 20px;
        }

    }

    .footer-links {

        margin-bottom: 30px;

        .list-inline-item {
            a {
                font-size: 14px;
            }

            &:not(:last-child) {
                margin-right: 15px;
            }
        }

    }

}

@include tablet {
    footer {
        .footer-hadding {
            margin-bottom: 25px;
        }

    }

    .footer-links {

        margin-bottom: 40px;

        .list-inline-item {
            a {
                font-size: 14px;
            }

            &:not(:last-child) {
                margin-right: 20px;
            }
        }

    }
}

@include desktop {
    footer {
        .footer-hadding{
            margin-bottom: 30px;
        }

    }

    .footer-links {

        margin-bottom: 50px;

        .list-inline-item {
            a {
                font-size: 16px;
            }

            &:not(:last-child) {
                margin-right: 25px;
            }
        }

    }
}