.fixd-manu {
    background-color: $white;
//    position: fixed;
    .navbar-nav {
        .nav-item {
            .nav-link {
                margin: 10px 0 !important;
            }
        }
    }
}

.navigation {
    position: fixed;
    width: 100%;
    transition: .4s;
    color: black;
    z-index: 9999;

    .navbar-brand {
        color: $text-color;
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;

        i {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            color: $primary-color;
            border: 1px solid $primary-color;
            background-color: transparent;
            text-align: center;
            line-height: 50px;
            margin-right: 10px;
            font-size: 20px;
        }
    }

    .navbar-toggler {
        padding: 10px 15px;
        font-size: 24px;
        line-height: 1;
        background-color: $primary-bg;
        border: 0;
        border-radius: 0;
        transition: none;

        &:focus {
            box-shadow: none;
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                margin-top: 35px;
                margin-bottom: 30px;
                color: $text-color;
                padding-left: 58px;
                padding-right: 0;
                font-size: 14px;
                line-height: 14px;
                font-weight: 400;
                transition: .4s;

                &:hover {
                    color: $primary-color;
                }
            }

            .active {
                color: $primary-color;
            }
        }
    }
}

@include mobile {
    .fixd-manu{

        // padding-top: 20px !important;
    }
    .navigation{
        // padding: 10px;
        .navbar-nav {
            background-color: $white;
    
            .nav-item{
                &:last-child{
                    padding-bottom: 20px;
                }
                .nav-link {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    padding-left: 0px;
                    padding-right: 0;
                    padding-bottom: 0px;
                    text-align: center;
                 
                }
            }
    
        }
    } 

}

// @include mobile {
//       .fixd-manu {
//         //   display: none;
//         //   padding-top: 5px !important;
//         //   padding-top: 20px !important;
//           // .navbar-nav{
//               // }
//             }

//             .navigation {
//                 // position: fixed;
//         // padding-top: 10px;
//         // padding: 5px 10px;
//         transition: .2s;

// .navbar-nav .nav-item .nav-link {
//     color: #222222;
//     padding-left: 0px;
//     line-height: 0px;
//     font-size: 14px;
//     font-weight: 400;
//     padding-bottom: -20px;
//     margin: 10px 0 !important;
//     text-align: center;
// }
//     }
// }

// @include tablet {
//     .fixd-manu{

//             padding: 5px 15px !important;

//     }
//     .navigation {
//         padding: 5px 15px;

//         .navbar-nav .nav-item .nav-link {
//             color: #222222;
//             padding-left: 0px;
//             line-height: 0px;
//             font-size: 14px;
//             font-weight: 400;
//             padding-bottom: -20px;
//             margin: 10px 0 !important;
//             text-align: center;
//         }
//     }
// }

// @include desktop {
//     .navigation {
//         padding: 5px 20px;

//         .navbar-nav .nav-item .nav-link {
//             color: #222222;
//             padding-left: 0px;

//             line-height: 0px;
//             font-size: 14px;
//             font-weight: 400;
//             padding-bottom: -20px;
//             margin: 20px 0 !important;
//             text-align: center;
//         }

//         .navbar-toggler {
//             i {

//                 font-size: 28px;
//             }
//         }
//     }

// }