.fixed-manu {
    background-color: $white;
    .navbar-nav {
        .nav-item {
            .nav-link {
                margin: 10px 0 !important;
            }
        }
    }
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .4s;
    color: black;
    z-index: 999;

    .navbar-brand {
        color: $text-color;
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;

        i {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            color: $primary-color;
            border: 1px solid $primary-color;
            background-color: transparent;
            text-align: center;
            line-height: 50px;
            margin-right: 10px;
            font-size: 20px;
        }
        &:hover{
            color: $text-color !important;
        }
    }

    .navbar-toggler {
        padding: 10px 15px;
        font-size: 24px;
        line-height: 1;
        background-color: $primary-bg;
        border: 0;
        border-radius: 0;
        transition: none;

        &:focus {
            box-shadow: none;
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                margin-top: 35px;
                margin-bottom: 30px;
                color: $text-color;
                padding-left: 58px;
                padding-right: 0;
                font-size: 14px;
                line-height: 14px;
                font-weight: 400;
                transition: .4s;

                &:hover {
                    color: $primary-color;
                }
            }

            .active {
                color: $primary-color;
            }
        }
    }
}



@include mobile {
    .fixed-manu {

        padding: 5px 15px !important;

        background-color: $primary-bg;
    }
    
    .navigation {
        padding: 5px 15px;
        background-color: $primary-bg;

        .navbar-nav .nav-item .nav-link {
            color: #222222;
            padding-left: 0px;
            line-height: 0px;
            font-size: 14px;
            font-weight: 400;
            padding-bottom: -20px;
            margin: 10px 0 !important;
            text-align: center;
        }
    }
}

@include tablet {
    .fixed-manu {

        padding: 5px 15px !important;
        background-color: $primary-bg;
        
    }
    
    .navigation {
        background-color: $primary-bg;
        padding: 5px 15px;

        .navbar-nav .nav-item .nav-link {
            color: #222222;
            padding-left: 0px;
            line-height: 0px;
            font-size: 14px;
            font-weight: 400;
            padding-bottom: -20px;
            margin: 10px 0 !important;
            text-align: center;
        }
    }
}

@include desktop {
    .fixed-manu {

        padding: 5px 15px !important;
        background-color: $primary-bg;
        
    }
    .navigation {
        background-color: $primary-bg;
        padding: 5px 20px;
        .navbar-nav .nav-item .nav-link {
            color: #222222;
            padding-left: 0px;

            line-height: 0px;
            font-size: 14px;
            font-weight: 400;
            padding-bottom: -20px;
            margin: 20px 0 !important;
            text-align: center;
        }

        .navbar-toggler {
            i {

                font-size: 28px;
            }
        }
    }

}